In [7]:
import pandas as pd
import requests

In [9]:
url = 'https://www.cooperativepatentclassification.org/sites/default/files/cpc/concordances/cpc-ipc-concordance.txt'

response = requests.get(url)
response.raise_for_status()

In [10]:
from io import StringIO

data = StringIO(response.text)
df_pandas = pd.read_csv(data, delimiter='\t', header=0)

In [11]:
df_pandas.head()

   CPC Group  Unnamed: 1 IPC Group  Unnamed: 3  CPC Indent Level
0   A01B1/00         NaN  A01B1/00         NaN                 0
1   A01B1/02         NaN  A01B1/02         NaN                 1
2  A01B1/022         NaN  A01B1/02         NaN                 2
3  A01B1/024         NaN  A01B1/02         NaN                 2
4  A01B1/026         NaN  A01B1/02         NaN                 2

In [16]:
df_pandas.sample(5)

           CPC Group  Unnamed: 1  IPC Group  Unnamed: 3  CPC Indent Level
110758    C11B9/0073         NaN   C11B9/00         NaN                 2
119244  C12Y208/0201         NaN    CPCONLY         NaN                 2
36765       B02B3/08         NaN   B02B3/08         NaN                 1
156056   F16K99/0055         NaN  F16K99/00         NaN                 3
75518      B65B19/04         NaN  B65B19/04         NaN                 2

In [29]:
cpc_code = 'B23K26/389'
filtered_df = df_pandas[df_pandas["CPC Group"] == cpc_code]
filtered_df

        CPC Group  Unnamed: 1   IPC Group  Unnamed: 3  CPC Indent Level
45169  B23K26/389         NaN  B23K26/382         NaN                 4

In [30]:
ipc_code = filtered_df["IPC Group"].values[0]

In [31]:
print(ipc_code)

B23K26/382